.main_body {
    display: grid;
    grid-template-columns: auto;
}

.main_projects_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #1e282e;
    overflow: hidden;
}
