html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, MADE Soulmaze;
  background: #1e282e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Soulmaze";
  src: url("../public/fonts/Soulmaze/Soulmaze.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Italic";
  src: url("../public/fonts/Soulmaze/Soulmaze-Italic.otf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Questrial";
  src: url("../public/fonts/Questrial/Questrial-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Brush";
  src: url("../public/fonts/Soulmaze/Soulmaze-Brush.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Outline-Italic";
  src: url("../public/fonts/Soulmaze/Soulmaze-Outline-Italic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Soulmaze-Outline";
  src: url("../public/fonts/Soulmaze/Soulmaze-Outline.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Future X Regular";
  src: url("../public/fonts/MADE Future X/MADE Future X Regular.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Future X Thin";
  src: url("../public/fonts/MADE Future X/MADE Future X Thin.otf");
  font-style: normal;
  font-display: swap;
}